@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
  font-family: Roboto;
  background-color: #403D3D;
}

.page-container {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1px 0;
  font-size: 1rem;
}

.logo {
  height: 25vmin;
  pointer-events: none;
}

.gray-text {
  color: rgb(143, 140, 140);
  font-size: 0.8rem;
}

.yellow-text {
  color: #F4EC54;
  font-weight: bold;
}

.white-text {
  text-align: center;
  color: white;
  margin:auto;
}

.input {
  width: 300px;
  height: 25px;
  border-radius: 8px;
  border: 3px solid #339cd3;
  font-size: 12px;
  margin: 20px 0;
}

.button {
  background-color: #339cd3;
  color: rgb(12, 12, 12);
  box-shadow: 4px 4px 4px #000000;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  width: 300px;
  height: 30px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000000;
  margin: 20px 0;
  cursor: pointer;
}

.input-radio {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.role {
  margin-top: 10px;
  margin-right: 30px;
}

.inner-page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Início Header */
.inner-header {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

#inner-logo {
	align-items: baseline;
  height: 7vmin;
}

.button-logout {
  display: flex;
  position: relative;
  color: #339cd3;
  border: 3px solid #339cd3;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 32rem;
}
/* Fim Header */

/* Início Navbar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 00.8rem 1rem;
  margin: 5px;
}

.hall-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #339cd3;
  border-radius: 5px;
}

.hall-navbar Input[type=radio] {
  display: none;
  cursor: pointer;
}

.hall-navbar Input[type=radio]+label {
  background-color: #403D3D;
  color: rgb(143, 140, 140);
  padding: 0.2rem 0.5rem;
  width: 200px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.hall-navbar Input[type=radio]:checked+label {
  background-color: #339cd3;
  color: #000000;
}
/* Fim Navbar */

/* Order Menu */
.menu-select {
  display: flex;
  justify-content: center;
}

#menu {
  justify-content: center;
  margin: 5px;
  font-weight: bold;
  border: none;
}

.product{
  display: flex;
}

.show-input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.client-data {
  width: 300px;
  height: 25px;
  border-radius: 8px;
  border: 3px solid #339cd3;
  font-size: 12px;
  margin: 20px 20px;
}

.table-input {
  width: 150px;
  height: 25px;
  border-radius: 8px;
  border: 3px solid #339cd3;
  font-size: 12px;
  margin: 20px 20px;
}

.button-add {
  background-color: #339cd3;
  color: rgb(12, 12, 12);
  box-shadow: 4px 4px 4px #000000;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000000;
  margin: 20px 0;
  cursor: pointer;
}

.show-product, .show-resume, .resume-container {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: center;
	align-content: space-around;
  width: 50%;
}

.product {
  width: 100%;
  height: 40vh;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;  
}

.card-product {
  color: #339cd3;
  border: 2px solid #339cd3;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 135px;
  height: 73px;
  margin: 3px;
}

#resume-title {
  background-color: #339cd3;
  width: 200px;
  border-radius: 3px;
  border: 3px solid #339cd3;
  font-size: 14px;
  margin: 20px 20px;
  text-align: center;
  justify-content: center;
  width: 15rem;
}

.card-resume {
  color: #339cd3;
  border: 2px solid #339cd3;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  /* width: 100%; */
  margin: 3px;
}

/* Início Footer */
footer, .link-footer {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  height: auto;
  margin: 5px;
}
/* Fim Footer */





/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    position: center;
    margin: 3vw;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */